.badge {
  display: flex;
  background-color: tomato;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: white;
  font-size: 15px;
}
